#!/usr/bin/bash
if ! command -v pdm &>/dev/null; then
    curl -sSL https://raw.githubusercontent.com/pdm-project/pdm/main/install-pdm.py | python -
    echo "export PATH=${HOME}/.local/bin:$PATH > ~/.zshrc"
    pdm --pep582 >>~/.zshrc
    pdm plugin add pdm-venv
fi

# Create if missing
(pdm venv list | grep 3.8) || pdm venv create 3.8
eval "$(pdm venv activate 3.8)"
pdm sync

unset PS1
