#!/usr/bin/bash
set -e

# XXX: PDM requires Python 3.7+; check for python3 version

if [ ! -f "${HOME}/.local/bin/pdm" ]; then
    curl -sSL https://raw.githubusercontent.com/pdm-project/pdm/main/install-pdm.py | python3 -
    echo "export PATH=${HOME}/.local/bin:\$PATH" >> ~/.zshrc
    export PATH="${HOME}/.local/bin:$PATH"
    pdm plugin add pdm-venv
fi

! command -v pdm &>/dev/null && export PATH="${HOME}/.local/bin:$PATH"

echo -e "\nCall the command boilerplate in a directory to create a direnv/pdm environment.\n"
PATH="$(pwd)/bin:$PATH"
export PATH
