#!/usr/bin/bash
set -e

if [ "$(python -V)" != "Python $(cat .python-version)" ]; then
    echo "WARNING: Your version does not match .python-version. You're on your own."
    echo "You could use pyenv to match the version."
fi

if ! command -v pdm &>/dev/null; then
    curl -sSL https://raw.githubusercontent.com/pdm-project/pdm/main/install-pdm.py | python -
    echo "export PATH=${HOME}/.local/bin:\$PATH" >> ~/.zshrc
    export PATH="${HOME}/.local/bin:$PATH"
    pdm --pep582 >>~/.zshrc
    pdm plugin add pdm-venv
fi

eval "$(pdm venv activate 3.8)"
# If it fails to activate is because we need to create it
if [ -z "$VIRTUAL_ENV" ]; then
    (pdm venv list | grep 3.8) || pdm venv create 3.8
    eval "$(pdm venv activate 3.8)"
fi

echo "Run pdm sync if you want the dependencies to get installed"

unset PS1
